<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>New</h2>
    <form action="/new" method="post">
        <div>
            <label for="uname">Name</label>
            <input type="text" name="uname"> <br/>

            <label for="enumber">emp_number</label>
            <input type="text" name="enumber"> <br/>

            <label for="uemail">email</label>
            <input type="email" name="uemail"> <br/>

            <button type="submit">send</button>
        </div>
    </form>
</body>
</html>