<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글작성하기</title>
</head>
<body>
    <h1>Write</h1>
    <form method="post" action="/write" enctype="multipart/form-data">
        작성자: <input type="text" name="uwriter"> <br>
        제목: <input type="text" name="utitle"> <br>
        내용: <textarea name="ucontent" rows="10" cols="50"> </textarea> <br>
        파일등록: <input type="file" name="ufile"> <br>
        글 비밀번호: <input type="password" name="bpw"> <br>
        <button type="submit">글 등록 > </button>
    </form>
</body>
</html>