doctype html 
html 
    head 
        title LANG PAGE 
    body 
        h1 
            a(href='/lang') Server Side Javascript
        h2 Welcome 
        h3 NodeJS World
        br
        form(method='post' action='/lang')
            input(type="text" name="title" placeholder="title")
            br 
            br
            textarea(name="description" placeholder="description")
            br
            br
            button(type="submit") 입력완료
        