doctype html 
html 
    head 
        title file upload 
    body 
        form(method="post" action="/upload" enctype="multipart/form-data")
            p 
                label(for="uid") 파일이름
                input(type="file" name="userfile")
            p 
                input(type="submit" value="업로드")